.JoinPage{
    background-color: rgba(0, 0, 0, 0.696);
    width: 100vw;
    height:102.5vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.JoinContainer{
    border: 3px solid black;
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 1rem;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar{
    height: 6%;
    background-color: #dbe9ff;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
}
.left-div{
    display: flex;
    padding: 2px;
    gap:1rem;
}
.right-div{
    padding: 2px;
    display: flex;
    gap:1rem;
}
img{
    padding: 6px;
    height: 80%;
}
.icons{
    background-color: blueviolet;
    color:#dbe9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height:1rem;
    width: 1rem;
    border-radius: 50%;
    border: 3px solid black;
    padding: 6px;
}

.chat-box{
   height: 12%;
   background-color: #dbe9ff;
   border-top: 3px solid black;
}
