.JoinPage{
    background-color: rgba(0, 0, 0, 0.696);
    width: 100vw;
    height:102.5vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.JoinContainer{
    border: 3px solid black;
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 1rem;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar{
    height: 10%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
}
.left-div{
    background-color: brown;
    display: flex;
    padding: 10px;
    gap:1rem;
}
.right-div{
    padding: 10px;
    background-color: greenyellow;
    display: flex;
    gap:1rem;
}
img{
    height: 80%;
}
.icons{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height:2rem;
    width: 2rem;
    border-radius: 50%;
    border: 3px solid black;
    padding: 3px;
}

.chat-box{
   height: 10%;
   background-color: aquamarine;
}