.outer{
    display: flex;
    padding-top: 5px;
    justify-content: space-between;
}


#join-btn{
    background-color: #2663ea;
    color: white;
    width: 40%;
    height: 2rem;
    border-radius: 6px;
    font-weight: bold;
    position: absolute;
    transform: translateX(50%);
}

#name-div{
    position: absolute;
    width: 40%;
    transform: translateX(60%);
    display: flex;
    flex-direction: column;
}

#name-input{
    width: 60%;
    height: 2rem;
    border-radius: 6px;
    border: 2px solid #2663ea;
    padding-left: 10px;
}
#name-input:hover {
    background-color: white; /* Change background color on hover */
}
#name-btn{
    background-color: #2663ea;
    border: 2px solid #2663ea;
    color: white;
    width: 20%;
    height: 2rem;
    border-radius: 6px;
    font-weight: bold;
}
.avatar-container{
 display: flex;
 padding-left: 2rem ;
 padding-bottom: 2rem ;
 gap: 2rem ;
}

.avatar-container img{
    height:7vh;
    
}

.input-field{
    width:80%
}
button{
    width: auto;
    border: none;
    background-color: transparent;
    margin: 15px;
}

.plus{
    margin: 15px;
    margin-right:5px;
    
}

.fill-name{
    background-color:red;
    display:flex;
    width: 90%;
    justify-content: space-evenly;
}

.fill-name input{
    width: 20vw;
    height: 1.5rem;
    padding: 5px;
    border-radius: 10px;

}
.fill-name button{
    width: 5vw;
    height: 1.5rem;
    border-radius: 10px;
    border: 2px solid black;
    
}